# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [6]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head(15)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,50,20,55,25,25,30,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

- Suponemos que los Pokémon de tipo Dragón tienen, de media, más HP que los de tipo Hierba. Elige la prueba más adecuada y, con una significación del 5%, comenta tus conclusiones.

In [10]:
df["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [31]:
#Set the hypothesis

#H0: mu dragon_HP > grass_hp
#H1: mu dragon_HP <= grass_hp

In [32]:
# Choose significance level
#significance level = 0.05
alpha = 0.05

In [20]:
# Collect Data
dragon_hp = df[(df["Type 1"]=="Dragon") | (df["Type 2"]=="Dragon")]["HP"]
grass_hp = df[(df["Type 1"]=="Grass") | (df["Type 2"]=="Grass")]["HP"]

In [48]:
# Compute Test Statistic
st.ttest_ind(dragon_hp,grass_hp, equal_var=True) # Es True porque asumimos que tiene la misma varianza.

TtestResult(statistic=4.4991348531252635, pvalue=1.4019427478617643e-05, df=143.0)

In [27]:
p_value=1.4019427478617756e-05

if p_value > alpha:
    print("We are not able to reject the null hypothesis, Dragons has more HP than Grass")
else:
    print("We reject the null hypothesis, so Dragon has less HP than Grass")

We reject the null hypothesis, so Dragon has less HP than Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [29]:
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [30]:
#Set the hypothesis

#H0: mu legendary = stats no_legendary
#H1: mu legendary != stats no_legendary

In [ ]:
# Choose significance level
#significance level = 0.05

alpha = 0.05

In [40]:
df_legendary = df[df["Legendary"] == True][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
df_nolegendary = df[df["Legendary"] == False][["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]

In [49]:
legendary_avg = df_legendary.sum()
nolegendary_avg = df_nolegendary.sum()

In [51]:
st.ttest_ind(legendary_avg,nolegendary_avg, equal_var=True)

TtestResult(statistic=-39.26639766236614, pvalue=2.741708294840369e-12, df=10.0)

In [52]:
p_value = 2.741708294840369e-12

if p_value > alpha:
    print("We are not able to reject the null hypothesis, legendary = stats no_legendary")
else:
    print("We reject the null hypothesis, legendary != stats no_legendary")

We reject the null hypothesis, legendary != stats no_legendary

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [172]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

The formula for Euclidean distance in two dimensions is D = ( x 2 − x 1 ) 2 + ( y 2 − y 1 ) 2

`Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.`

In [173]:
def house_school (x2, x1, y2, y1):
    distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
    return distance

In [174]:
school_coordinates = (-118, 37)
df["distance_shcool"] = df.apply(lambda row: house_school(school_coordinates[0], row["longitude"], school_coordinates[1], row["latitude"]), axis=1)

In [175]:
def house_hospital  (x2, x1, y2, y1):
    distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2)  ** 0.5
    return distance

In [176]:
hospital_coordinates = (-122, 34)
df["distance_hospital"] = df.apply(lambda row: house_hospital(hospital_coordinates[0], row["longitude"], hospital_coordinates[1], row["latitude"]), axis=1)

In [177]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_shcool,distance_hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432

`Divide your dataset into houses close and far from either a hospital or school.`

In [181]:
# Define distance of close or far
threshold_school = 5.0 # 1 km for schools. 
threshold_hospital = 5.0 # 1 km for hospitals.

In [182]:
def categorize_distance(distance, threshold):
    if distance <= threshold:
        return 'close'
    else:
        return 'far'
        
df["category_shcool"] = df.apply(lambda row: categorize_distance(row["distance_shcool"], threshold_school), axis=1)
df["category_hospital"] = df.apply(lambda row: categorize_distance(row["distance_hospital"], threshold_hospital), axis=1)

In [183]:
df["category_shcool"].value_counts()

category_shcool
close    16474
far        526
Name: count, dtype: int64

`Choose the propper test and, with 5% significance, comment your findings.`

We posit that houses close to either a school or a hospital are more expensive.

In [188]:
import scipy.stats as st

#Set the hypothesis

#H0: mu houses close to either a school or a hospital are more expensive > houses far from school or hospital.
#H1: mu houses close to either a school or a hospital are more expensive =< houses far from school or hospital.

#significance level = 0.05

expensive_houses = df[df["category_shcool"]=="close"]["median_house_value"]
cheap_houses = df[df["category_shcool"]=="far"]["median_house_value"]


st.ttest_ind(expensive_houses,cheap_houses)

TtestResult(statistic=20.76598504208708, pvalue=1.3107573063795437e-94, df=16998.0)

In [187]:
pvalue=1.3107573063795437e-94
alpha = 0.05
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypothesis")

We reject the null hypothesis